<div class="container mt-3">
    <h4>New Contact Details</h4>
    <form action="/action_page.php">
     
    <div class="mb-3 mt-3">
            <label for="Firstname">First Name:</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="first name">
        </div>
        <div class="mb-3 mt-3">
            <label for="Lasttname">Last Name:</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="last name">
        </div>
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="mb-3">
        <label for="pwd">Phone Number:</label>
        <input type="text" class="form-control" id="pwd" placeholder="Enter Phone Number" name="pswd">
      </div>
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload Image</label>
      </div>
      <button type="save" class="btn btn-primary">Save</button>
    </form>
</div>
 

