<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li>
                <a class="nav-link" routerLink="viewallcontacts"> View All Contacts</a>
                </li>
                <a class="nav-link" routerLink="updateallcontacts">Create New Contact</a>
            </ul>
            </div>

        </div>